
<div class="text-center">
    <form class="container" action="/login" method="post">

      <img src="img/emu_logo.png" alt="" width="72" height="72">
      <h1 class="">Please sign in</h1>
      
      <p>
        <input class="input" type="text" placeholder="Enter your email">
      </p>
      <p>
        <input class="input" type="password" placeholder="Enter your password">
      </p>
      <button type="submit">Sign in</button>
    </form>
</div>
