.text-center {
  text-align: center;
}

.container{
  margin: 0 auto;
  padding:0.01em 16px;
  width: 25%;
}

.input {
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
}

.text-left {
  text-align: left;
}


.error {
  background-color: #f87777;
  display: block;
}